body {
    background-color: rgb(58, 66, 75);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
p {
    color:#62c2e8
}
h3 {
    color: rgb(99, 180, 238);
}
ul {
    color: rgb(173, 216, 230);
    font-size: 15px;
}
.titlep {
    color: rgb(150, 223, 236);
    text-align: left;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
.title {
    color: rgb(150, 223, 236);
    text-align: left;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
}
.heading1 {
    color: rgb(99, 180, 238);
    text-align: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
.cc {
    color: rgb(105, 120, 124);
    text-align: left;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
.icon {
    display: block;
    width: 100px;

}